<!DOCTYPE html>
<html lang="{{ current_language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}IRIS{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/favicon.png') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        {% if request.endpoint in ['analysis.analyze', 'analysis.analyze_v0'] %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/analysis.css') }}">
        {% endif %}
        {% block head_extra %}{% endblock %}
    </head>
    <body>
    <!-- Header -->
    {% block header %}
<div class="header d-flex justify-content-between align-items-center">
  <div class="header-left d-flex align-items-center">
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='imgs/logo_iris.png') }}"
           alt="IRIS Logo" class="logo-small">
    </a>
    <span class="app-name ms-2">IRIS</span>

    <!-- Pestañas de navegación -->
    <nav class="nav-tabs ms-4">
        <a href="{{ url_for('home') }}">
        <i class="fas fa-home me-1"></i> {{ _('Inicio') }}
        </a>
    
        {% if current_user %}
        <a href="{{ url_for('table.table_iris') }}">
            <i class="fas fa-history me-1"></i> {{ _('Histórico de datos') }}
        </a>
        <a href="{{ url_for('dashboard.dashboard_iris') }}">
            <i class="fas fa-chart-bar me-1"></i> {{ _('Visualización de datos') }}
        </a>
        {% endif %}
    
        <a href="{{ url_for('contact.contact_iris') }}">
        <i class="fas fa-envelope me-1"></i> {{ _('Contacto') }}
        </a>
    </nav>
  </div>

  <div class="header-right d-flex align-items-center">
    {% if current_user %}
    <span class="me-3 d-flex align-items-center welcome-text">
        <i class="fas fa-user-circle me-1"></i>
        {{ _('Hola') }}, <strong>{{ current_user.first_name }}</strong>!
    </span>
    <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger d-flex align-items-center">
        <i class="fas fa-sign-out-alt me-1"></i> {{ _('Logout') }}
    </a>
    {% else %}
      <a href="{{ url_for('auth.login') }}" 
         class="btn btn-outline-primary me-2">
        <i class="fas fa-sign-in-alt"></i> {{ _('Login') }}
      </a>
      <a href="{{ url_for('auth.register') }}" 
         class="btn btn-primary">
        <i class="fas fa-user-plus"></i> {{ _('Registro') }}
      </a>
    {% endif %}
    {% block analysis %}{% endblock %}
  </div>
</div>
{% endblock %}


    <!-- Contenido principal -->
    {% block content %}{% endblock %}

    <!-- Modals -->
    {% block modals %}
        {% include 'menu/translate_menu.html' %}
        {% include 'menu/accessibility_menu.html' %}
    {% endblock %}

    <!-- Footer -->
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    <!-- Bloque para insertar scripts específicos de cada página -->
    {% block scripts_extra %}{% endblock %}

    <script>
      console.log("Idioma detectado en el servidor: '{{ current_language }}'");
    </script>
    <script src="{{ url_for('static', filename='js/translate_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/accessibility_menu.js') }}"></script>
  
</body>
</html>
